<div class="row mt-5">
    <div class="col-md-12">
      <h5 class="card-title">{{ cource.name }}</h5>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/CrOIxHNUxYY?si=8wwUxyn3ZoOEgsTk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
      <p class="card-text">{{cource.description}}</p>
      <a href="#" class="btn btn-primary">Học ngay</a>
    </div>
</div>